@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "Thunder";
  src: url(/public/fonts/Thunder-SemiBoldHC.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --light: #fff;
  --dark: #000;
  --light-other: #99d6ff;
  --menu-bg: #ffffff;
  --menu-fg-secondary: #5f5f5f;
  --hamburger-icon-border: rgba(255, 255, 255, 0.1);
  --fg: #171717;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Thunder", sans-serif;
  background-color: var(--light);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: 0.5rem;
}

p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 550;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
  font-family: "Agdasima", sans-serif;
  font-size: 7.5rem;
  font-weight: 600;
  line-height: 0.9;
  display: block;
}



.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--dark);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 2;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--light);
  transform: scaleX(0);
  transform-origin: left;
  will-change: transform;
}

.preloader-images {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}

.preloader-images .img {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
}

.preloader-images .img img {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(2);
  will-change: transform;
}

.preloader-copy {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  color: #fff;
}

.preloader-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(60svh);
  transform-origin: top;
  will-change: transform;
  z-index: 2;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  overflow: hidden;
}

.divider {
  position: relative;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  background-color: rgba(0, 0, 0, 0.2);
  will-change: transform;
}

.preloader-header a .char,
.preloader-copy p .line,
.header-row h1 .line {
  position: relative;
  display: inline-block;
  transform: translateY(0);
  will-change: transform;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .preloader-images {
    top: 35%;
    width: 10rem;
    height: 10rem;
  }

  .preloader-copy {
    width: 80%;
  }

  .preloader-header {
    transform: translateY(50svh);
  }

  .preloader-header a {
    font-size: 4rem;
  }
}




/* GALLERY */
section {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2rem;
  overflow: hidden;
}

.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-other);
  color: var(--dark);
}

.intro h1,
.outro h1 {
  text-align: center;
}

.spotlight {
  background-color: var(--dark);
  color: var(--light);
}

.spotlight h1{
  letter-spacing: 0.1rem;
}

.spotlighth1{
  font-size: 4rem;
}

.spotlight-images,
.spotlight-cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 2000px;
}

section .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -1000px);
  width: 500px;
  height: 350px;
  will-change: transform;
}

.spotlight-cover-img {
  will-change: transform;
}

.spotlight-intro-header,
.spotlight-outro-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
}

.spotlight-intro-header {
  z-index: 1;
}

.spotlight-outro-header {
  z-index: 2;
  color: black;
}

.spotlight-outro-header h1
{
  font-size: 3rem;
  color: var(--light);
}

.spotlight-outro-header {
  left: 28%;
  text-align: left;
}

@media (max-width: 1000px) {
  .intro h1,
  .outro h1,
  .spotlight-intro-header,
  .spotlight-outro-header {
    width: 100%;
    left: 50%;
    text-align: center;
  }

  .spotlight-intro-header,
  .spotlight-outro-header {
    padding: 2rem;
  }
}

/* MENU */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
  font-family: "Agdasima", sans-serif;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  color: black;
  z-index: 2;
}

.menu-logo {
  width: 2rem;
  height: 2rem;
}

.menu-toggle-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.menu-toggle-label {
  overflow: hidden;
}

.menu-toggle-label p {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
  font-size: 2rem;
}

.menu-hamburger-icon {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border: 1px solid black;
  border-radius: 100%;
}

.menu-hamburger-icon span {
  position: absolute;
  width: 15px;
  height: 1.25px;
  background-color: var(--fg);
  transition: all 0.75s cubic-bezier(0.87, 0, 0.13, 1);
  transform-origin: center;
  will-change: transform;
}

.menu-hamburger-icon span:nth-child(1) {
  transform: translateY(-3px);
}

.menu-hamburger-icon span:nth-child(2) {
  transform: translateY(3px);
}

.menu-hamburger-icon.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-hamburger-icon.active span:nth-child(2) {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu-overlay,
.menu-overlay-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  color: var(--fg);
  overflow: hidden;
  z-index: 1;
}

.menu-overlay {
  background-color: var(--menu-bg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  will-change: clip-path;
}

.menu-overlay-content {
  display: flex;
  transform: translateY(-50%);
  will-change: transform;
  pointer-events: all;
}

.menu-media-wrapper {
  flex: 2;
  opacity: 0;
  will-change: opacity;
}

.menu-content-wrapper {
  flex: 3;
  position: relative;
  display: flex;
}

.menu-content-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-footer {
  margin: 0 auto;
}

.menu-content-main,
.menu-footer {
  width: 75%;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.menu-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-col:nth-child(1) {
  flex: 3;
}

.menu-col:nth-child(2) {
  flex: 2;
}

.menu-link a {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.menu-tag a,
.menu-footer p {
  color: var(--menu-fg-secondary);
}

.line {
  position: relative;
  will-change: transform;
}

.menu-tag span {
  font-size: 5rem;
  margin-left: -1rem;
  font-weight: 800;
}

.menu-tag:nth-child(1):hover {
  color: red;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
    letter-spacing: -0.05rem;
  }

  section h1 {
    width: 100%;
  }

  .menu-media-wrapper {
    display: none;
  }

  .menu-content-main,
  .menu-footer {
    width: 100%;
  }

  .menu-content-main {
    top: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
  }

  .menu-link a {
    font-size: 3rem;
  }

  .menu-tag a {
    font-size: 1.25rem;
  }
}

a:hover {
  color: #000000; /* Negro puro */
}


.main-gallery {
  text-align: center;
  padding: 60px 0;
}

.main-gallery-title {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
}

.main-carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.main-carousel {
  display: flex;
  gap: 40px;
  transition: transform 0.5s ease;
}

.card {
  min-width: 280px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  display: block;
}

.card-info {
  padding: 15px 10px;
}

.card-info h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  margin: 10px 0 5px;
}

.card-info p {
  font-weight: 500;
  font-size: 1rem;
  color: #444;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
}

.arrow:hover {
  background: #f1f1f1;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.sub-menu-li a{
  color: var(--menu-fg-secondary);
  font-size: 5rem;
}

.sub-menu-li a:hover {
  color: #000000;
}


/* STYLE CARD SECTION */

section h4 {
  opacity: 0.8;
}

li.active {
  color: var(--dark-green);
  border-bottom: 1px solid var(--dark-green);
}

.style-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  background-color: var(--white);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.style-card-info {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 1em 2em;
}
.style-card-info h1 {
  font-family: "Allura", serif;
  font-size: 5rem;
  color: var(--dark-green);
  align-self: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.style-card-info p {
  font-size: 0.8rem;
  font-weight: bold;
  align-self: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 22px;
}
.style-card-info a {
  display: grid;
  grid-template-columns: max-content 20px;
  align-items: center;
  column-gap: 7px;
  color: var(--dark-green);
  font-size: 0.85rem;
  font-weight: bold;
  align-self: center;
  justify-self: flex-end;
  transform: translateX(0px);
  transition: transform 0.3s 0.1s ease-out;
}
.style-card-info a:hover {
  transform: translateX(5px);
}
.style-card-info a:hover svg {
  transform: translateX(5px);
}
.style-card-info svg {
  width: 20px;
  height: 10px;
  transform: translateX(0px);
  transition: transform 0.3s ease-out;
}
.style-card-info svg line {
  stroke: var(--dark-green);
}

.style-card-photo {
  width: 450px;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}
.style-card-photo img {
  display: block;
  max-width: 100%;
  aspect-ratio: 1/1;
}
.style-card-photo a {
  display: grid;
  grid-template-columns: max-content 20px;
  align-items: center;
  column-gap: 7px;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  align-self: flex-start;
  transform: translateX(0px);
  transition: transform 0.3s 0.1s ease-out;
  position: absolute;
  z-index: 10;
  bottom: 5%;
  right: 8%;
}
.style-card-photo a:hover {
  transform: translateX(5px);
}
.style-card-photo a:hover svg {
  transform: translateX(5px);
}
.style-card-photo svg {
  width: 20px;
  height: 10px;
  transform: translateX(0px);
  transition: transform 0.3s ease-out;
}
.style-card-photo svg line {
  stroke: var(--white);
  stroke-width: 2;
}
.style-card-photo .mask {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 5;
  background-color: var(--white);
}
#mask-1 {
  left: 0;
  transform: translateY(-100%);
}
#mask-2 {
  right: 0;
  transform: translateY(100%);
}

@media (max-width: 600px) {
  .style-card {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .style-card-info {
    order: 2;
    height: 400px;
  }
  .style-card-photo {
    width: 100%;
    order: 1;
  }

  .style-card-photo img {
    width: 100%;
  }

  .style-card-photo .mask {
    height: 100%;
  }
}

@media (max-width: 500px) {
  .style-card-info h1 {
    font-size: 3rem;
  }
}
